.profile__avatar-edit {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 45px;
    opacity: 0;
}

@media screen and (max-width: 980px) {
    .profile__avatar-edit {
        top: 37px;
    }
}
