.elements__element-like {
    width: 22px;
    height: 19px;
    background-image: url("../../../images/like-button.svg");
    background-repeat: no-repeat;
    border: 0;
    background-color: initial;
    cursor: pointer;
    margin: 0;
    padding: 22px 0 0 0;
}

.elements__element-like:hover {
    opacity: 0.5;
}